@font-face {
  font-family: "iconfont"; /* Project id 4701339 */
  src: url('iconfont.woff2?t=1744013945056') format('woff2'),
       url('iconfont.woff?t=1744013945056') format('woff'),
       url('iconfont.ttf?t=1744013945056') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianjiajiahaowubiankuang:before {
  content: "\e60d";
}

.icon-right:before {
  content: "\e7eb";
}

.icon-left:before {
  content: "\e7ec";
}

.icon-bianzubeifen:before {
  content: "\e606";
}

.icon-bianzubeifen3:before {
  content: "\e607";
}

.icon-system-phonebook:before {
  content: "\e668";
}

.icon-pepole:before {
  content: "\e6b5";
}

.icon-lock:before {
  content: "\e6c1";
}

.icon-mail:before {
  content: "\e6c8";
}

.icon-appreciate:before {
  content: "\e644";
}

